.container {
  height: 100%;
  background-color: #445e6b;

  .container__icon {
    display: flex;
    padding-top: 30px;

    ion-icon {
      color: white;
    }
    .container__icon__texto {
      color: white;
    }
  }

  .form__campo__cadastro__dog{
    .form__campo__cadastro__dog__span{


    }
    .form__campo__cadastro__dog__btn{
      
    }
  }

  .container__cadastro {
    text-align: center;
    top: 5%;
    position: relative;

    .container__header {
      .container__header__title {
        font-size: 20px;
        color: #e9ddcd;
      }
    }


  }
}
