.horario{
    color: aliceblue;
    border: 1px solid white;
    border-radius: 12px;
    margin: 15px 0;
    padding-top: 10px;

    .horario__dias{
        border: 1px solid white;
    }
    .horario__datetime{
        border: 1px solid white;
    }
}

