<ion-header>
  <ion-toolbar>
    <ion-title>
      Quero passear
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">


  <ion-card *ngIf="authService.usuarioAuth.role === 'dono'" class="card">
    <form *ngIf="!passeioAgendado" class="form--passeio" [formGroup]="formAgendamento" (ngSubmit)="agendar()">
      <ion-card-header>
        <ion-card-title>Agendar passeio</ion-card-title>
      </ion-card-header>

      <ion-card-content class="card__texto">
        Agenda uma data e hora disponivel para um passeador
      </ion-card-content>

      <ion-card-content class="card__passeadores">
        <ion-item>
          <ion-label>Passeadores</ion-label>
          <ion-select formControlName="passeador" interface="popover">
            <ion-select-option *ngFor="let ps of passeadores" [value]="ps">{{ps.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>

      <ion-card-content class="card__horarios">
        <ion-item [disabled]="this.passeador.value === '' ">
          <ion-label>Datas e horários</ion-label>
          <ion-select formControlName="horario" interface="popover">
            <ion-select-option *ngFor="let hr of passeador.value.horarios" [value]="hr">{{hr}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>

      <ion-card-content class="card__cachorros">
        <ion-item [disabled]="this.passeador.value === '' || this.horario.value === ''">
          <ion-label>Cachorro para passear</ion-label>
          <ion-select formControlName="cachorro" interface="popover">
            <ion-select-option *ngFor="let dog of authService.usuarioAuth.dogs" [value]="dog">{{dog.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>

      <ion-card-content class="card__btn">
        <ion-button (click)="agendar()" class="btn" expand="full" [disabled]="formAgendamento.invalid">Realizar
          Augendamento</ion-button>
      </ion-card-content>
    </form>
    <div *ngIf="passeioAgendado" class="card__passeio-agendado">

      <div class="card__passeio-agendado__header">
        Seu passeio foi Agendado!
      </div>
      <div class="card__passeio-agendado__conteudo">
        <div class="card__passeio-agendado__conteudo__textos">
          <span class="card__passeio-agendado__conteudo__textos__span">Passeador:
            <span class="card__passeio-agendado__conteudo__textos__span--bold">
              {{passeador.value.name}}
            </span>
          </span>
          <span class="card__passeio-agendado__conteudo__textos__span">Horário:
            <span class="card__passeio-agendado__conteudo__textos__span--bold">
              {{horario.value}}
            </span>
          </span>
          <span class="card__passeio-agendado__conteudo__textos__span">Cachorro:
            <span class="card__passeio-agendado__conteudo__textos__span--bold">
              {{cachorro.value.name}}
            </span>
          </span>
        </div>
        <ion-button (click)="cancelar()" color="danger" class="btn" expand="full">Cancelar passeio</ion-button>
      </div>
    </div>
  </ion-card>

  <ion-card *ngIf="authService.usuarioAuth.role === 'passeador'" class="card">
    <ion-card-header>
      <ion-card-title>Passeios Agendados</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card__texto">
      <!--PEDIR UMA LISTA DE PASSEIOS CADASTRADOS PARA O CARA E MOSTRAR PELO COMPONENTE-->
      <app-passeio-agenda></app-passeio-agenda>
    </ion-card-content>
  </ion-card>


  <ion-card class="card">
    <ion-card-header>
      <ion-card-title *ngIf="authService.usuarioAuth.role === 'dono'">Pedir Augora</ion-card-title>
      <ion-card-title *ngIf="authService.usuarioAuth.role === 'passeador'">Passear</ion-card-title>
    </ion-card-header>

    <ion-card-content class="card__texto">
      <span *ngIf="authService.usuarioAuth.role === 'dono'">
        Procura um passeador na sua região instantaneamente
      </span>
      <span *ngIf="authService.usuarioAuth.role === 'passeador'">
        Ativa o modo passeio(isso significa que você está apto a receber passeios)
      </span>
    </ion-card-content>

    <ion-card-content class="card__btn" *ngIf="authService.usuarioAuth.role === 'dono'">
      <ion-button *ngIf="authService.usuarioAuth.role === 'dono'" (click)="pedirAgora()" class="btn" expand="full">Vamo
        passear!</ion-button>
    </ion-card-content>
    <ion-card-content class="card__btn--passeador" *ngIf="authService.usuarioAuth.role === 'passeador'">
      <ion-toggle [(ngModel)]="procuraPasseio" *ngIf="authService.usuarioAuth.role === 'passeador'">
      </ion-toggle>
      <span class="card__btn--passeador__span" *ngIf="!procuraPasseio">Você não esta procurando passeios</span>
      <span class=" card__btn--passeador__span card__btn--passeador__span--procurando" *ngIf="procuraPasseio">Procurando
        passeios
        <ion-spinner class="card__btn--passeador__span--procurando__spinner" name="circles"></ion-spinner></span>
    </ion-card-content>

  </ion-card>

</div>