<div class="container">
  <div [routerLink]="['/login']" class="container__icon">
    <ion-icon name="arrow-back"></ion-icon>
    <span class="container__icon__texto">Voltar para o login</span>
  </div>
  <div class="container__cadastro">
    <div class="container__header">
      <span class="container__header__title">Bem vindo ao DogTour</span>
    </div>

    <form class="form" [formGroup]="formCadastro" (ngSubmit)="realizarCadastro()">
      <ion-item color="secondary" class="form__campo">
        <ion-input class="form__campo__input" placeholder="Nome" formControlName="name"></ion-input>
      </ion-item>
      <ion-item color="secondary" class="form__campo">
        <ion-input class="form__campo__input" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item color="secondary" class="form__campo">
        <ion-input class="form__campo__input" placeholder="Senha" type="password" formControlName="password">
        </ion-input>
      </ion-item>

      <div color="secondary" class="form__campo">
        <div class="form__campo__span__wrapper">
          <span class="form__campo__span">Você é?</span>
        </div>
        <ion-radio-group formControlName="role" color="secondary">
          <ion-item color="secondary">
            <ion-label>Dono</ion-label>
            <ion-radio value="dono" checked></ion-radio>
          </ion-item>

          <ion-item color="secondary">
            <ion-label>Passeador</ion-label>
            <ion-radio value="passeador"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

      <div class="form__btn">
        <ion-button expand="full" type="submit" [disabled]="formCadastro.invalid">Cadastrar</ion-button>
      </div>
    </form>
  </div>
</div>