<div class="container">
  <div class="container__login">
    <ion-header class="container__header">
        <ion-title class="container__header__title">Faça seu login</ion-title>
    </ion-header>


    <form class="form" [formGroup]="formLogin" (ngSubmit)="realizarLogin()">

      <ion-item class="form__campo">
        <ion-input class="form__campo__input" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="form__campo">
        <ion-input class="form__campo__input" placeholder="Senha" type="password" formControlName="senha">
        </ion-input>
      </ion-item>

      <div class="form__btn">
        <ion-button expand="full" type="submit" [disabled]="formLogin.invalid">Entrar</ion-button>
      </div>
    </form>

    <span class="container__span"> Não possui caudastro? <a> Registre-se agora</a></span>
  </div>
</div>