.container {
  height: 100%;
  background-color: #445E6B;
  .container__login {
    text-align: center;
    top: 23%;
    position: relative;

    .container__header {
      .container__header__title{
        font-size: 20px;
        color: #E9DDCD;
      }
    }
    .form {
      padding: 24px 40px;

      .form__campo {
        padding: 5px 0;
      }

      .form__btn {
        padding-top: 20px;
      }
    }

    .container__span{
      color: #E9DDCD;
    }
  }
}
