<ion-header>
  <ion-toolbar>
    <ion-title>
      Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container container__topo">
    <div class="campos__usuario">
      <span class="campos__usuario__texto">{{usuario.name}}</span>
      <span class="campos__usuario__texto">{{usuario.email}}</span>
    </div>
  </div>

  <div class="container container__meio">
    <span class="titulo__cachorros-cadastrados">Cachorros cadastrados</span>
    <ion-list>
      <ion-item *ngFor="let cachorro of cachorrosUsuario"></ion-item>

    </ion-list>
  </div>

  <div class="container container__footer">
    <div class="campos__senha">
      <ion-input class="campos__senha-input" placeholder="Senha Nova"></ion-input>
      <ion-button>Alterar Senha</ion-button>
    </div>
    <ion-button class="btn__salvar-dados" expand="full">Salvar dados</ion-button>
  </div>

</ion-content>