<div class="container">
  <div [routerLink]="['/tabs/passeioTab']" class="container__icon">
    <ion-icon name="close-circle" style="zoom: 150%;"></ion-icon>
    <span class="container__icon__texto">Não desejo avaliar agora</span>
  </div>
  <div class="container__cadastro">
    <div class="container__header">
      <span class="container__header__title">Passeio finalizado!</span>
    </div>
    <div class="container__header">
      <span
        class="container__header__title"
        *ngIf="authService.usuarioAuth.role === 'passeador'"
        >Por favor, avalie de 1 a 5 o dono e o cachorro:
      </span>
      <span
        class="container__header__title"
        *ngIf="authService.usuarioAuth.role === 'dono'"
        >Por favor, avalie de 1 a 5 o passeador:
      </span>
    </div>
    <form class="form">
      <div
        color="secondary"
        class="form__campo"
        *ngIf="authService.usuarioAuth.role === 'passeador'"
      >
        <div class="form__campo__span__wrapper">
          <span class="form__campo__span">Cachorro: </span>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped1()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped1 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped1 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>

          <button style=" background-color: #1c9b9b;" (click)="toggleZipped2()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped2 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped2 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped3()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped3 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped3 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped4()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped4 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped4 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped5()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped5 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped5 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
        </div>
        <div class="form__campo__span__wrapper">
          <span class="form__campo__span2">Dono: </span>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped6()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped6 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped6 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>

          <button style=" background-color: #1c9b9b;" (click)="toggleZipped7()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped7 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped7 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped8()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped8 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped8 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped9()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped9 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped9 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button
            style=" background-color: #1c9b9b;"
            (click)="toggleZipped10()"
          >
            <ion-icon
              class="form__campo__star"
              [md]="zipped10 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped10 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
        </div>
      </div>

      <div
        color="secondary"
        class="form__campo"
        *ngIf="authService.usuarioAuth.role === 'dono'"
      >
        <div class="form__campo__span__wrapper">
          <span class="form__campo__span">Passeador: </span>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped1()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped1 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped1 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>

          <button style=" background-color: #1c9b9b;" (click)="toggleZipped2()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped2 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped2 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped3()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped3 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped3 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped4()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped4 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped4 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
          <button style=" background-color: #1c9b9b;" (click)="toggleZipped5()">
            <ion-icon
              class="form__campo__star"
              [md]="zipped5 ? 'ios-star-outline' : 'ios-star'"
              [name]="zipped5 ? 'ios-star-outline' : 'ios-star'"
            ></ion-icon>
          </button>
        </div>
      </div>

      <div class="form__btn">
        <ion-button expand="full" type="submit" (click)="teste()"
          >Avaliar
        </ion-button>
      </div>
    </form>
  </div>
</div>
