.card__conta__cachorro {
  text-align: initial;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 12px;
  .card__conta__cachorro__item {
    &-label {
      padding: 5px;
    }
  }
}
