<div class="card__conta__cachorro">

        <div class="card__conta__cachorro__item">
            <span class="card__conta__cachorro__item-label">Nome: {{dog.name}}</span>
        </div>
        <div class="card__conta__cachorro__item">
            <span class="card__conta__cachorro__item-label">Gênero: {{dog.sex}}</span>
        </div>
        <div class="card__conta__cachorro__item">
            <span class="card__conta__cachorro__item-label">Tamanho: {{dog.size}}</span>
        </div>
        <div class="card__conta__cachorro__item">
            <span class="card__conta__cachorro__item-label">Temperamento: {{dog.temper}}</span>
        </div>
</div>