<ion-header>
  <ion-toolbar>
    <ion-title>
      Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <form class="form__conta" [formGroup]="formConta" (ngSubmit)="atualizarDados()">

      <div class="container container__topo">
        <div class="campos__usuario">
          <h1 class="campos__usuario__titulo">Dados do usuário</h1>
          <ion-input class="campos__usuario__texto" formControlName="name"></ion-input>
          <ion-input class="campos__usuario__texto" formControlName="email"></ion-input>
        </div>
      </div>

      <div class="container container__meio">
        <ion-card class="card__conta">
          <ion-card-header>
            <ion-card-title>Cachorros cadastrados</ion-card-title>
          </ion-card-header>

        <div *ngIf="this.authService.usuarioAuth.role === 'passeador'"></div>
        <div *ngIf="this.authService.usuarioAuth.role === 'dono'">
          <div class="card__sem-cadastro-cachorros"
            *ngIf="cachorrosUsuario === undefined || cachorrosUsuario.length === 0">
            <span class="card__sem-cadastro-cachorros__span">Ei cara <a
                [routerLink]="['/cadastro-cachorro']">cadastre</a> uns cachorrinhos</span>
          </div> 
          <div >
            <ion-card-content class="card__lista-cachorros">
              <ion-list class="card__lista-cachorros-lista" *ngFor="let cachorro of cachorrosUsuario">
                <app-conta-cachorro  [dog]="cachorro"
                (dogAtualizadoEmitter)="atualizarListaCachorros($event)"
                  class="card__conta__cachorro-item">
                </app-conta-cachorro>
              </ion-list>
            </ion-card-content>
          </div>
        </div>
        </ion-card>
      </div>

      <div class="container container__footer">
        <div class="campos__senha">
          <ion-input class="campos__senha-input" type="password" placeholder="Senha Nova" formControlName="password">
          </ion-input>
        </div>
        <ion-button type="submit" class="btn__salvar-dados" expand="full">Salvar dados</ion-button>
      </div>

    </form>
  </div>

</ion-content>