.content {
  background-color: #1c9b9b;
  height: 100%;

  .container {
    height: 33%;
    background-color: #1c9b9b;

    &__topo {
      .campos__usuario {
        padding-top: 1%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        .campos__usuario__titulo {
          font-size: 24px;
        }
        .campos__usuario__texto {
          font-size: 22px;
          border: 1px solid;
          border-radius: 12px;
          padding-bottom: 5px;
          margin-bottom: 15px;
          color: #e9ddcd;
        }
      }
    }
    &__meio {
      padding: 1px 0;
      .card__conta {
        max-height: 230px;
        overflow: auto;
        .card__lista-cachorros {
          .card__lista-cachorros-lista {
            background-color: #1c9b9b;
          }
          .card__conta__cachorro-item {
            background-color: #1c9b9b;
          }
        }
      }
    }

    &__footer {
      padding: 0 16px 16px;

      .campos__senha {
        display: flex;
        &-input {
          color: #e9ddcd;
          border-bottom: 1px solid;
        }
      }
      .btn__salvar-dados {
        margin-top: 40px;
      }
    }
  }
}
