<ion-header>
  <ion-toolbar>
    <ion-title>
      Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <form class="form__conta" [formGroup]="formConta" (ngSubmit)="atualizarSenha()">

      <div class="container container__topo">
        <div class="campos__usuario">
          <h1 class="campos__usuario__titulo">Dados do usuário</h1>
          <div class="campos__usuario__textos">
            <span class="campos__usuario__textos__texto">Nome: {{authService.usuarioAuth.name}}</span>
            <span class="campos__usuario__textos__texto">Email: {{authService.usuarioAuth.email}}</span>
            <span class="campos__usuario__textos__texto">Última nota: {{authService.usuarioAuth.rating}}</span>
          </div>
        </div>
      </div>

      <div class="container container__meio">
        <ion-card class="card card__conta">
          <ion-card-header>
            <ion-card-title *ngIf="authService.usuarioDono">
              Cachorros cadastrados
              <span class="card__conta__icon-add">
                <ion-icon name="add" [routerLink]="['/cadastro-cachorro']"></ion-icon>
              </span>
            </ion-card-title>
            <ion-card-title *ngIf="authService.usuarioPasseador">
              Horários cadastrados
              <span class="card__conta__icon-add">
                <ion-icon name="add" [routerLink]="['/cadastro-horarios']"></ion-icon>
              </span>
            </ion-card-title>
          </ion-card-header>

          <div *ngIf="authService.usuarioDono">
            <div class="card__sem-cadastro-cachorros"
              *ngIf="authService.usuarioAuth.dogs === undefined || authService.usuarioAuth.dogs.length === 0">
              <span class="card__sem-cadastro-cachorros__span">Ei cara <a
                  [routerLink]="['/cadastro-cachorro']">cadastre</a> uns cachorrinhos</span>
            </div>
            <ion-card-content class="card__lista-cachorros">
              <ion-list class="card__lista-cachorros-lista" *ngFor="let cachorro of authService.usuarioAuth.dogs">
                <app-conta-cachorro [dog]="cachorro" class="card__conta__cachorro-item">
                </app-conta-cachorro>
              </ion-list>
            </ion-card-content>

          </div>

          <div *ngIf="authService.usuarioPasseador">
            <div class="card__sem-cadastro-cachorros"
              *ngIf="authService.usuarioAuth.horarios === undefined || authService.usuarioAuth.horarios.length === 0">
              <span class="card__sem-cadastro-cachorros__span">Ei cara <a
                  [routerLink]="['/cadastro-horarios']">cadastre</a> uns horarios</span>
            </div>
            <ion-card-content class="card__lista-cachorros">
              <ion-list class="card__lista-cachorros-lista" *ngFor="let horario of authService.usuarioAuth.horarios">
                <span>Dia da semana: {{horario.diaDaSemana}} | </span>
                <span> Hora: {{horario.hora | date:'shortTime'}}</span>
              </ion-list>
            </ion-card-content>

          </div>

        </ion-card>
      </div>

      <div class="container container__footer">
        <div class="campos__senha">
          <ion-input class="campos__senha-input" type="password" placeholder="Senha Nova" formControlName="password">
          </ion-input>
        </div>
        <ion-button type="submit" class="btn__salvar-dados" expand="full" [disabled]="formConta.invalid">Salvar senha
        </ion-button>
      </div>

      <ion-button expand="full" color="danger" (click)="logout()"> Logout</ion-button>

    </form>

  </div>

</ion-content>