<ion-header>
  <ion-toolbar>
    <ion-title>
      Histórico de passeios
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">
  <span *ngIf="toursCompletados.length === 0">Opa, parece que você não tem passeios recentes...</span>
  <ion-card class="card" *ngFor="let tour of toursCompletados">
    <ion-card-header>
      <ion-card-title>Passeio no dia {{tour.day}}-{{tour.time | date:'shortTime'}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="card__texto">
      <ion-button (click)="irTelaAvaliacao(tour)" class="btn" expand="full"> Avalie o passeio </ion-button>
    </ion-card-content>
  </ion-card>
</div>