<ion-header>
  <ion-toolbar>
    <ion-title>
      Histórico de passeios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Passeio no dia xxxx</ion-card-title>
    </ion-card-header>

    <ion-card-content class="card__texto">
      <ion-list>
        <ion-item>
          Avalie o passeio: 
          <ion-list class="card__avaliacoes">
              <ion-item>1</ion-item>
              <ion-item>2</ion-item>
              <ion-item>3</ion-item>
              <ion-item>4</ion-item>
              <ion-item>5</ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card-content>


  </ion-card>

</ion-content>
